.profile__edit-button {
    width: 24px;
    height: 24px;
    background-image: url(../../../images/Edit\ Button.svg);
    margin-left: 18px;
    background-color: black;
    border: 0;
}

.profile__edit-button:hover {
    opacity: 0.6;
}

@media all and (max-width:768px) and (min-width:320px) {
    .profile__edit-button {
        background-size: contain;
        margin-left: 10px;
        width: 18px;
        height: 18px;
    }
}