.profile__discription {
    margin: 0;
    font-weight: 400px;
    font-size: 18px;
    line-height: 22px;
    color: white;
}

@media all and (max-width:768px) and (min-width:320px) {
    .profile__discription {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
}