.profile__name {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    font-size: 42px;
    line-height: 48px;
    font-weight: 500;
    margin-bottom: 16px;
    color: white;
}

@media all and (max-width:768px) and (min-width:320px) {
    .profile__name {
        font-size: 27px;
        line-height: 33px;
    }
}